<html>
<head>
    <title>Datastore viewer for emulator [Project: {{ project_name }}]</title>
</head>
<body>
<h1>Datastore viewer for emulator [Project: {{ project_name }}]</h1>

<form>
    <select name="kind">
        {% for kind in kinds %}
            <option value="{{ kind }}" {% if kind ==current_kind %}selected{% endif %}>{{ kind }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="view">
</form>

{% if has_entities > 0 %}
<table border="1">
    <thead>
    <tr>
        <th>Operation</th>
        <th>Key</th>
        {% for propery in current_kind_properties %}
            <th>{{ propery }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="/datastore_viewer/projects/{{ project_name }}/view_entity?key={{ entity._serialized_key|e }}" target="_blank">Show</a>
                    <form method="post">
                        <input type="hidden" name="key" value="{{ entity._serialized_key|e }}">
                        <input type="hidden" name="kind" value="{{ current_kind }}">
                        <input type="hidden" name="namespace" value="{{ current_namespace }}">
                        <input type="submit" name="action" value="delete">
                    </form>
                </td>
                <td>{{ entity.key }}</td>
                {% for propery in current_kind_properties %}
                    <td>
                        {{ entity[propery] }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Not found entities (kind = {{ current_kind }})</p>
{% endif %}

{% if next_cursor %}
    <p>
        <a href="?kind={{ current_kind }}&cursor={{ next_cursor }}">Next Page</a> |
        <a href="?kind={{ current_kind }}">First Page</a>
    </p>
{% endif %}

{% if has_entities > 0 %}
<form method="post">
    <input type="hidden" name="kind" value="{{ current_kind }}">
    <input type="hidden" name="namespace" value="{{ current_namespace }}">
    <input type="submit" name="action" value="delete_all">
</form>
{% endif %}

</body>
</html>
